.icon-container {
  display: flex;
  padding-right: 50px;
  gap: 60px;
  /* color: blue; */
}
/* .icon-container p {
  color: white;
} */
/* .icon-container p:hover {
  color: blue;
} */
.cookies {
  display: flex;
  padding-left: 50px;
  text-align: left;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(66, 126, 255);
  color: white;
  font-size: large;
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
}
/* .itemx {
  color: white;
}
.itemx:hover {
  color: blue;
} */
.icons {
  color: blue;
}
.icons:hover {
  color: white;
}
