.body {
  font-family: "Secular One", serif;
  margin: 100px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  margin-top: 30px;
  align-items: center;
}

.text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: purple;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}
.text:hover {
  color: #e8e8e8;
  background-color: #bf0fff;
}

.text:hover::before {
  width: 100%;
}

.description {
  background-color: whitesmoke;
  border: none purple;
  padding: 50px 50px 100px 50px;
  height: 40vh;
  width: 50%;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 4px 8px 19px -3px rgb(126, 103, 126);
}

.description p {
  text-align: left;
  height: 70px;
}
.description h2 {
}
