.container1 {
  display: flex;
  align-items: center;
}

.containeer2 {
  border-radius: 20px;
  background-color: rgb(66, 126, 255);
  padding: 30px;
  width: 80%;
  backdrop-filter: blur(40px);
  color: black;
}

.nit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
