.new {
  width: 1000px;
  display: flex;
  margin-top: -100px;
}

.Sec {
  justify-content: flex-end;
  flex: 50%;
  display: flex;
  gap: 30px;
}

.container {
  flex: 50%;
  display: flex;
  gap: 30px;
}
