.container {
  flex: 1;
  text-align: center;
  padding: 20px;
}

.header1 {
  background-color: red;
  font-size: 60px;
}

.header2 {
  background-color: grey;
}

.header3 {
  background-color: blueviolet;
}

.Small {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  font-size: 14px;
}

.wrapper-all {
    margin: 20px;
}