.container {
    display: flex;
    font-size: 19px;
}

.header1 {
    background-color: red;
    flex: 33%;
    font-size: 100px;   
}

.header2{
    background-color: grey;
    flex: 33%;
    

}

.header3{
    background-color: blueviolet;
    flex: 33%;
    
}

.Small{
    display: inline-block;
    padding: 10px;
    margin: 10px;
    font-size: 14pt;

}
