.container1 {
  background-color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container2 {
  background-color:  rgb(207, 197, 206);
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.timi {
  padding: 15px;
  border-radius: 20px;
  width: 400px;
  background-color: blueviolet;
}
.timi:hover {
  background-color: rgb(207, 197, 206);
  color: black;
  cursor: pointer;
}

.pet {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tom {
  padding: 15px;
  border-radius: 20px;
  width: 400px;
  margin-bottom: 20px;
}
.tom:hover {
  background-color: rgb(83, 183, 223);
  color: black;
  cursor: pointer;
}
.play {
  padding: 15px;
  border-radius: 20px;
  width: 400px;
}
.play:hover {
  background-color:rgb(83, 183, 223);
  color: black;
  cursor: pointer;
}
.nit {
  padding: 30px;
}

.image {
  background-color: blue;
}
.oyin {
  padding: 10px;
}
.pin {
  padding: 10px;
}
.pen {
  background-color: whitesmoke;
    padding: 15px;
  border-radius: 20px;
  width: 100px;
  margin-top: 20px;
}
.pen:hover {
    background-color: rgb(83, 183, 223);
  color: black;
  cursor: pointer;
}